### NuxtJS ###
# Generated dirs
dist
.nuxt
.nuxt-*
.output
.gen
.nitro
.cache
.output
.env
dist

# Node dependencies
node_modules

# System files
*.log

### Editors and OS ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.DS_Store
.fleet
.idea

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide